.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  grid-column-gap: 61px;
  padding: 64px;
}
.search{
  margin: auto;
  display: flex;
  justify-content: center; 
}
.search input{
  border: 0;
  outline: none;
  height: 50px;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  color:#fff;
  font-size: 20px;
}
.card img{
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.card img:hover{
  width: 104%;
  height: 104%;
}
.info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px;
  grid-gap: 10px;
}
.info div:nth-child(2){
  font-size: 40px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}